<div class="d-flex align-items-center justify-content-between">
    <h1 class="my-3">Twitter Accounts</h1>

    <%= link_to "Connect a Twitter Account", "/auth/twitter", method: :post, class:"btn btn-info" %>
</div>

<% @twitter_accounts.each do |twitter_account| %>
    <div class="d-flex align-items-center mb-4">
        <div class="me-4">
            <%= image_tag twitter_account.image, class:"rounded-circle" %>
            <%= link_to "@#{twitter_account.username}", "https://twitter.com/#{twitter_account.username}", target: :_blank, class:"btn btn-link" %>
        </div>
        <%= button_to "Disconnect", twitter_account, method: :delete, data: {confirm: "Are you sure?"}, class:"btn btn-outline-warning btn-sm" %>
    </div>
<% end %>